:root {
  --bg-col: #1a1a1a;
  --fg-col: #282828;

  --divide-col: #414141;

  --btn-t1-bg-col: rgba(44, 187, 93, 0.12);
  --btn-t1-fg-col: rgb(44, 187, 93);

  --primary-text-col: rgb(255, 255, 255);
  --secondary-text-col: rgba(239, 241, 246, 0.75);
}

aside {
  min-width: 150px;
  max-width: 300px;
  border-radius: 4px;
  padding: 24px;
  background-color: var(--fg-col);
}

main > div {
  width: 50vw;
  border-radius: 4px;
  background-color: var(--fg-col);
  margin-left: 8px;
  margin-top: 16px;
  padding: 24px;
}

main > div:first-child {
  margin-top: 0;
}

main,
aside {
  display: inline-block;
  vertical-align: top;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 32px;
}

.center-layout {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 32px;
  box-sizing: border-box;
  background-color: var(--bg-col);
}

aside .sections {
  list-style: none;
  padding: 0;
  text-align: start;
  padding-top: 16px;
  margin: 0;
}

aside .sections li {
  padding: 8px;
  margin: 8px 0;
}

aside .sections li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

aside .sections li.selected {
  background-color: var(--divide-col);
  border-radius: 4px;
}
.user-header {
  padding-bottom: 16px;
  border-bottom: 1px solid var(--divide-col);
}

.user-header .info {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.user-header img {
  width: 84px;
  height: 84px;
  border-radius: 4px;
}

.user-header .info div {
  margin-left: 8px;
  text-align: start;
}

.user-header .info p {
  display: block;
  margin-top: 8px;
  font-size: 16px;
  color: var(--secondary-text-col);
  word-break: break-all;
  white-space: normal;
}

.user-header .info p:first-child {
  margin-top: 0;
  font-size: 18px;
  color: var(--primary-text-col);
}

.user-header button {
  display: inline-block;
  margin-top: 12px;
  width: 100%;
  background-color: var(--btn-t1-bg-col);
  color: var(--btn-t1-fg-col);
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 12px 24px;
}
